<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_HelloWindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2_HelloTriangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3_Shaders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>4_Textures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>5_Transforms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>6_CoordinateSystems.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E596EC021D0208D00AAED6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E596ED921D07CF600AAED6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E596EEB21D18D7000AAED6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E596F0221D22A6A00AAED6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E596F1821D36FB800AAED6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E596F2B21D985AD00AAED6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
